---
import { getCollection } from 'astro:content';

const allBlogPosts = await getCollection('blog');
---

<html>
<head><title>Test</title></head>
<body>
  <h1>All Blog Posts Debug</h1>
  <pre>{JSON.stringify(allBlogPosts.map(p => ({
    id: p.id,
    slug: p.slug,
    title: p.data.title,
    description: p.data.description,
    pubDate: p.data.pubDate,
    language: p.data.language,
    allData: p.data
  })), null, 2)}</pre>
</body>
</html>